

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    padding: 30px;
    background-image: url(../images/nat-2-large.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    div {
        box-shadow: 10px 20px 4px bisque;
        position: absolute;
        width: 80vw;
        height: 50vh;
        text-align: center;
        left: 10%;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.body {
    font-size: 30px;
}
